<!DOCTYPE html>

<html>
   <head>
      <meta charset = "utf-8">
      <title>尼蠔一絲閱讀器</title>
      <link rel="icon" href="./static/icon128.ico" type="image/x-icon">
      <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel= "stylesheet" href= "./static/indexMain.css">

   </head>
   <body>
        <br><br>
       <div id = "divvv">
           <form method="POST" action={{ url_for('login') }}>
               <a href={{ url_for('index') }}> 
                   <img src= "./static/logo.png"></img>
                </a>
                <br>
                <span id = "tt">
                    <a href={{ url_for('index') }}> 尼蠔一絲閱讀器
                    </a>
                </span>
               <hr style= "border: 0px; background-color: #A67F78; height: 3px;">
               <!-- {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="message">{{ message }}</p>
                    {% endfor %}
                {%endif%}
                {% endwith %} -->
                <label>
                    <span class = "in">帳號 Account</span>
                    <br>
                    <i class="fa fa-user" style="position:absolute; margin-top: 7px; right: 7px"></i>
                    <input type="text" id= "account" class="textInput"
                        name= "account" placeholder="account" required>
                </label>
                <label>
                    <span class = "in">密碼 Password</span>
                    <br><br>
                    <i class="fa fa-lock" style="position:absolute; margin-top: 7px; right: 7px"></i>
                    <input type="password" id= "password" class="textInput"
                        name= "password" placeholder="password" required>
                </label><br>

                <input type="checkbox" class="check" name="rememberMe">
                <span style= "float: left;">記住我</span><br>
                <div style="position: relative; margin-top: 20px; height: 50px">
                    <input type="button" value="註冊" class="inputButton">
                    <button type="submit" class="sub">登入</button>
                </div>
           </form>
       </div>

       <div id= "regdiv">
            <span class="closebtn">
                <a href="#">✖</a>
            </span>
        <form method="POST" action={{ url_for('register') }}>
            <table style= "width: 100%;">
                <thead>
                    <tr id="regtt">
                        <td width=50%>
                            <a href={{ url_for('index') }}> 
                            <img src= "./static/logo.png"></a>
                        </td>
                        <td style="padding-top: 10%; padding-right: 5%; padding-left: 10%; text-align: left;">尼蠔一絲<br>&nbsp&nbsp&nbsp註冊</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <hr style= "border:0px; position: relative; background-color: #A67F78; height: 3px;" width="100%">
                        </td>
                    </tr>
                    <tr>
                        <!-- {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <td colspan="2" class="message">{{ message }}</td>
                                {% endfor %}
                            {%endif%}
                        {% endwith %} -->
                    </tr>
                    <tr>
                        <td colspan="2" class = "in">帳號 Account
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label>
                            <i class="fa fa-user" style="position:absolute; margin-top: 7px; right: 7px"></i>
                            <input type="text" name="account" id= "account" class="textInput"
                            placeholder="account" autofocus required>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class = "in">密碼 Password
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label>
                            <i class="fa fa-lock" style="position:absolute; margin-top: 7px; right: 7px"></i>
                            <input type="password" name="password" id= "password" class="textInput"
                            placeholder="password" required>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class = "in">確認密碼 Check Password
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <i class="fa fa-lock" style="position:absolute; margin-top: 7px; right: 7%"></i>
                            <input type="password" name="check_password" id= "check_password" class="textInput"
                            placeholder="check password" required>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" style="padding-top: 20px; padding-bottom: 20px; padding-left:30%;">
                            <div style="position: relative; margin-top: 20px; height: 50px">
                            <button type="submit" name= "submit" class="sub">註冊</button>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
       </div>

       <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
       </script>
       <script src="./static/indexMain.js">
       </script>
    </body>
</html>