<!DOCTYPE html>
<html>

<head>
    <meta charset = "utf-8">
    <title>尼蠔一絲註冊</title>
    <link rel="icon" href="icon128.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap" rel="stylesheet">
    <link rel= "stylesheet" href= "registerMain.css">

</head>

<body>
    <br><br>
    <div id = "divvv">
        <form method="POST" action={{ url_for('register') }}>
            <table style= "width: 100%;">
                <thead>
                    <tr id="tt">
                        <td width=50%>
                            <a href={{ url_for('index') }}> 
                            <img src= "logo.png"></img></a>
                        </td>
                        <td style="padding-top: 10%; padding-right: 5%; padding-left: 10%; text-align: left;">尼蠔一絲<br>&nbsp&nbsp&nbsp註冊</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <hr style= "border:0px; position: relative; background-color: #A67F78; height: 3px;" width="100%">
                        </td>
                    </tr>
                    <tr>
                        <!-- {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <td colspan="2" class="message">{{ message }}</td>
                                {% endfor %}
                            {%endif%}
                        {% endwith %} -->
                    </tr>
                    <tr>
                        <td colspan="2" class = "in">帳號
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" name="account" id= "account"
                            placeholder="account" autofocus required>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class = "in">密碼
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="password" name="password" id= "password"
                            placeholder="password" required>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class = "in">確認密碼
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="password" name="check_password" id= "check_password"
                            placeholder="check password" required>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" style="padding-top: 20px; padding-bottom: 20px;">
                            <input type="submit" name= "submit" value="註冊" class="sub">
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</body>
</html>