<!DOCTYPE html>
<html>

<head>
    <title>BookShelf</title>
    <link rel="icon" href="../images/icon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../images/icon.ico" type="image/x-icon">

    <style>
    
        .message
        {
            color: red;
        }

        #account
        {
            color: blue;
        }

    </style>
</head>

<body>

    <h1>BookShelf</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p class="message">{{ message }}</p>
        {% endfor %}
    {%endif%}
    {% endwith %}

    <p id="account">{{account}}</p>

</body>
</html>
