<!DOCTYPE html>
<html>

<head>
    <title>BookShelf</title>
    <link rel="icon" href="../images/icon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../images/icon.ico" type="image/x-icon">

    <style>
    
        .message
        {
            color: red;
        }

        #account
        {
            color: blue;
        }

    </style>
</head>

<body>

    <h1>BookShelf</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p class="message">{{ message }}</p>
        {% endfor %}
    {%endif%}
    {% endwith %}

    <form action="{{ url_for('bookshelf') }}" method="POST">
        <select name="sources" id="sources" class="custom-select sources" value="排序...">
            {% if there == 1 %}
                <option value="byName">名稱</option>
            {% endif %}
            <option value="recent">最近閱讀</option>
            {% if there == 0 %}
                <option value="byName">名稱</option>
            {% endif %}
        </select>

        <input type="submit" value="✓">
    </form>

    <p id="account">{{account}}</p>

    <ul id="bookshelf">
        {% for ele in books %}
            <li class="books"><a href="/book/{{ ele }}">{{ ele }}</a></li>
        {% endfor %}
    </ul>

    <input type="button" onclick="location.href = '{{ url_for('upload') }}'" value="上傳">
    <input type="button" onclick="location.href = '{{ url_for('logout') }}'" value="登出">

</body>
</html>
