<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="icon" href="../images/icon.ico" type="image/x-icon">

    <style>
    
        .message
        {
            color: red;
        }

    </style>
</head>

<body>

    Register

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p class="message">{{ message }}</p>
        {% endfor %}
    {%endif%}
    {% endwith %}

    <form method="POST" action={{ url_for('register') }}>

        <input type="text" name="account" placeholder="account" autofocus required>
        <input type="password" name="password" placeholder="password" required>
        <input type="password" name="check_password" placeholder="check password" required>

        <input type="submit" name="submit">

    </form>

</body>
</html>