
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            imgPic = "#old";
            img_url_new = "#new";
            function ajaxForm(){
                var form= new FormData(document.getElementById("test_form"));
                $.ajax({
                    url:"{{ url_for('api_upload') }}",
                    type:"post",
                    data:form,
                    dataType: 'json',
                    processData:false,
                    contentType:false,
                    success:function(data){
                            $(img_url_new).attr("src",data.img_url_new);
                            $(imgPic).attr("src",data.img_url_new);
                    },
                    error:function(e){
                            $(img_url_new).attr("src","show/error.jpg");
                            $(imgPic).attr("src", "show/error.jpg");
                    }
                })
            }
        </script>
    </head>
        <body>
            <div style="width:100px;float:left;margin-left:35px;">
                <form method="post" enctype="multipart/form-data" id="test_form" style="margin-top:45px;">
                     <input type="file" name="photo" id="photo">
                     <a onclick="ajaxForm()">Upload</button>
                </form>
            </div>
            <img id="old">
            <img id="new">
        </body>
    </html>
