*{
        font-family: 'Noto Serif TC', serif;
      }
        body{
            background-color: #e1dcd9;
            color: #A67F78;
        }
        #divvv{
            width: 40%;
            margin: 0px auto;
            border: 3pt solid;
            text-align: center;
            font-size: 25px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 20px;
        }
        #tt
        {
            font-size:35px;
        }
        .in{
            float: left;
            margin-left: 10%;
        }
        input{
            width: 90%;
            height: 30px; font-size: inherit;
            color: #A67F78;
            border: #A67F78 1px solid;    
            padding: 2px 10px 5px 10px;
            margin-top: 2px;
            margin-bottom: 5px;
            box-sizing: border-box;
        }
        .textInput{
            border-radius: 7px;
        }
        .message
        {
            padding-left: 5%;
            text-align: left;
            color: red;
        }
        img{
            height: 50%;
            width: 50%;
        }
        img:hover{
            height: 75%;
            width: 75%;
        }
        .check{
            float: left;
            width: auto;
            height: auto;
            margin-top: 10px;
            margin-left: 5%;
        }
        input:focus{
            outline: none;
            background-color: whitesmoke;
        }
        input::placeholder{
            color:#A67F78;
            opacity: 0.5;
        }
        .sub:focus{
            outline: 1px #A67F78 solid;
        }
        a{
            color: #A67F78;
            text-decoration: none;
        }
          /* GENERAL BUTTON STYLING */
        button,
        button::after {
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
        }
        
        button {
            background: none;
            width: 50%;
            height: 40px;
            font-size: 25px;
            top:3px;
            border: #A67F78 1px solid;;
            color: #A67F78;
            display: block;
            position: relative;
            text-transform: uppercase;
        }
        
        button::before, button::after {
            background: whitesmoke;
            content: '';
            position: absolute;
            z-index: -1;
        }
        
        button:hover {
            font-weight: bold;
        }

        .sub::after {
            height: 100%;
            left: 0;
            top: 0;
            width: 0;
        }
        
        .sub:hover:after {
            width: 100%;
        }
        .afterSub:hover:after{
            width: 0%;
        }
        /*end button*/
         .inputButton{
            float: right;
            height: auto;
            width: 50%;
            border: 0px;
            background-color: whitesmoke;
        }
        .inputButton:hover{
            background-color: #F1E0D6;
            font-weight: bold;
        }
        /* a:hover{
        } */
        a:visited{
            color: #A67F78;
            text-decoration: none;
        }
        label{
            position: relative;
        }

        /*register*/
        .message{
            padding-left: 5%;
            text-align: left;
            color: red;
        }
        #regdiv{
            width: 60%;
            margin: 0px auto;
            border: 3pt solid;
            text-align: center;
            font-size: 20px;
            display: none;
            position: relative;
        }
        #regdiv img{
            width: 100%;
            height: auto;
            float: none;
            display: block;
            margin-left: 10%;
        }
        #regdiv img:hover{
            
        }
        #regtt{
            float:left;
            margin-right: 5%;
            position: relative;
            text-align: center;
            font-size: 25px;
        }
        .closebtn{
            font-size: larger;
            font-weight: bolder;
            position: absolute;
            top: 5px;
            right: 15px;
        }
        hr{
            border:0px;
            background-color: #A67F78;
            height: 3px;
        }
