<!doctype html>
<html>
<head>
    <title>Upload</title>
    <link rel="icon" href="../images/icon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../images/icon.ico" type="image/x-icon">

    <style>
    
        .message
        {
            color: red;
        }

        #account
        {
            color: blue;
        }

    </style>

</head>
<body> 
    <h1>Upload</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p class="message">{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <form method=post enctype=multipart/form-data>
        <input type="text" name="bookName" value="測試"><br>
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <br>
    <input type="button" onclick="location.href = '{{ url_for('bookshelf') }}'" value="書架">
</body>
</html>
